:host {
  display: block;
  width: 32px;
  height: 120px;
  flex-grow: 1;
  margin: 16px 0;
  padding: 0 52px;
  .wrapper {
    height: 100%;
    .shape {
      width: 32px;
      overflow: hidden;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
      background: rgba(255, 255, 255, .2);
      position: relative;
    }
    .indicator {
      transition: height .2s ease;
      width: 100%;
      background: linear-gradient(#ffaa11, #ffff11);
      position: absolute;
      bottom: 0;
    }
  }
}
