<div class="wrapper" [class.show]="show" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <div class="title">
      <div>
        <h1>Arms Race</h1>
        <div class="line"></div>
      </div>
    </div>
    <button mat-button (click)="startGame.emit(settings)">Play</button>
  </div>
</div>

<!-- 
<section *ngIf="view === 'main'" name="fullscreen">
  <div>
  </div>
  <div>
      <button mat-button (click)="view = 'multiplayer'">Multiplayer</button>

  </div>
</section>
<section *ngIf="view === 'singleplayer'">
  <span>coming soon...</span>
</section>
<section *ngIf="view === 'gameover'">
  <h2>Game Over</h2>
  <div>
      <div (click)="view = 'main'" class="btn">Back</div>
  </div>
</section>
<section *ngIf="view === 'multiplayer'">
  <div>
    <input type="text" [(ngModel)]="settings.playerOneName" placeholder="Player One Name">
  </div>
  <div>
    <input type="text" [(ngModel)]="settings.playerTwoName" placeholder="Player Two Name">
  </div>
  <div>
      <button mat-button (click)="startGame.emit(settings)">Start Game</button>
  </div>
</section> -->
