<h1>Arms Race</h1>
<section *ngIf="view === 'main'" name="fullscreen">
  <div>
      <div (click)="view = 'singleplayer'" class="btn">Singleplayer</div>
  </div>
  <div>
      <div (click)="view = 'multiplayer'" class="btn">Multiplayer</div>
  </div>
</section>
<section *ngIf="view === 'singleplayer'">
  <span>coming soon...</span>
</section>
<section *ngIf="view === 'gameover'">
  <h2>Game Over</h2>
  <div>
      <div (click)="view = 'main'" class="btn">Back</div>
  </div>
</section>
<section *ngIf="view === 'multiplayer'">
  <div>
    <input type="text" [(ngModel)]="settings.playerOneName" placeholder="Player One Name">
  </div>
  <div>
    <input type="text" [(ngModel)]="settings.playerTwoName" placeholder="Player Two Name">
  </div>
  <div>
    <div (click)="startGame.emit(settings)" class="btn">Start Game</div>
  </div>
</section>
