<h1>Arms Race</h1>
<section name="fullscreen">
    <button class="btn fullscreen-btn">Play in Fullscreen</button>
</section>
<section name="choose-player1">
    <input type="text" id="player1-name" placeholder="Player 1 Name"><br>
    <button class="btn toplayer2-btn">Set Player 2</button>
</section>
<section name="choose-player2">
    <input type="text" id="player1-name" placeholder="Player 2 Name"><br>
    <button class="btn start-btn">Start Game!</button>
</section>
<img style="display: none;" src="https://i.pinimg.com/736x/f4/85/99/f48599bcbe27682a0f98a2d9838adf40--texture-snow.jpg" id="bg" alt="">
