<button (touchstart)="move(true, false)" (touchend)="move(true, true)" mat-icon-button>
  <mat-icon aria-label="Example icon-button with a heart icon">chevron_left</mat-icon>
</button>
<button (touchstart)="move(false, false)" (touchend)="move(false, true)" mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">chevron_right</mat-icon>
  </button>
<button (click)="fire()" mat-button>Fire</button>

<!-- <div class="player-name">{{game.currentPlayer.name}}</div>
<div class="missiles">
  <div [style.transform]="'translate(0, ' + (-game.currentPlayer.activeMissileIndex * 100) + '%)'"
    (touchstart)="switchMissile()" class="inner">
    <div *ngFor="let missile of game.currentPlayer.missiles" class="missile grow">
      <span>{{missile.title}}</span>
      <span>{{missile.count}}</span>
    </div>
  </div>
</div>
<app-slider [game]="game"></app-slider>
<div>
  <div class="flex">
    <div (touchstart)="rotate(true, false)" (touchend)="rotate(true, true)" class="ingame-btn small" style="background-image: url('assets/arrow-left-rot.png')"></div>
    <span class="num grow">{{toInt(game.currentPlayer.bezelRotationDegrees)}} &deg;</span>
    <div (touchstart)="rotate(false, false)" (touchend)="rotate(false, true)" class="ingame-btn small" style="background-image: url('assets/arrow-right-rot.png')"></div>
  </div>
  <div class="flex top-space">
    <div (touchstart)="move(true, false)" (touchend)="move(true, true)" class="ingame-btn small" style="background-image: url('assets/arrow-left.png')"></div>
    <span class="num grow">{{toInt(game.currentPlayer.fuel)}} m</span>
    <div (touchstart)="move(false, false)" (touchend)="move(false, true)" class="ingame-btn small" style="background-image: url('assets/arrow-right.png')"></div>
  </div>
</div>
<div class="flex">
  <div (click)="fire()" class="ingame-btn fire-btn top-space grow">FIRE</div>
</div> -->
